* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Jersey 10';
}

.player {
    background: #000;
    border: 4px solid #00ff88;
    padding: 16px;
    width: 320px;
}

.load-btn {
    width: 100%;
    margin-bottom: 10px;
    background: #000;
    color: #00ff88;
    border: 3px solid #00ff88;
    font-family: inherit;
    font-size: 10px;
    padding: 8px;
    cursor: pointer;
}

.load-btn:active {
    background: #00ff88;
    color: #000;
}

.screen {
    background: #0a0a0a;
    border: 3px inset #00ff88;
    padding: 10px;
    margin-bottom: 12px;
    color: #00ff88;
    font-size: 10px;
    min-height: 50px;
}

#visualizer {
    width: 100%;
    background: #0a0a0a;
    border: 3px inset #00ff88;
    margin-bottom: 10px;
    image-rendering: pixelated;
    justify-content: center;
}

#progress {
    width: 100%;
    margin: 10px 0;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.controls button {
    background: #000;
    color: #00ff88;
    border: 3px solid #00ff88;
    font-family: inherit;
    font-size: 10px;
    padding: 8px;
    cursor: pointer;
    width: 30%;
}

.controls button:active {
    background: #00ff88;
    color: #000;
}